@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --color-main: #950;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.btn {
  @apply px-6 py-2 rounded-md shadow-md text-white hover:brightness-50;
}
.card {
  @apply 
    bg-blue-950
    text-white 
    rounded-4xl 
    shadow-lg 
    hover:shadow-xl 
    flex 
    flex-col 
    items-center 
    justify-center 
    p-6 
    m-2
    transition-all 
    duration-300
    h-auto 
    w-full
    sm:w-100 
    md:w-56 
    lg:w-80 
    xl:w-96;
}

